PL_MicrosoftGraphData.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_REST_Graph":{"type":"string"},"LS_DataLake":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_MicrosoftGraphData')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"description":"Extract Users, Groups and Licenses from Azure Active Directory\n\nCreated by Just Blindbæk","activities":[{"name":"Copy Users","type":"Copy","dependsOn":[],"policy":{"timeout":"0.01:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","additionalColumns":[{"name":"ADF_PipelineRunId","value":{"value":"@pipeline().RunId","type":"Expression"}},{"name":"ADF_PipelineTriggerTime","value":{"value":"@pipeline().TriggerTime","type":"Expression"}}],"httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"AbsoluteUrl":{"value":"$['@odata.nextLink']","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"arrayOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"DS_REST_Graph","type":"DatasetReference","parameters":{"RelativeURL":"users?$select=id,mail,companyName,department,displayName,userType,assignedLicenses,onPremisesUserPrincipalName,UserPrincipalName,jobTitle,creationType,externalUserState,createdDateTime,deletedDateTime&$expand=memberOf"}}],"outputs":[{"referenceName":"DS_ADLS_Generic_JSON","type":"DatasetReference","parameters":{"FileSystem":"raw","Folder":{"value":"microsoft-graph/users/@{formatDateTime(pipeline().TriggerTime, 'yyyy')}/@{formatDateTime(pipeline().TriggerTime, 'MM')}","type":"Expression"},"FileName":{"value":"graph_users_@{formatDateTime(pipeline().TriggerTime, 'yyyyMMdd')}.json","type":"Expression"}}}]},{"name":"Copy Security Groups","type":"Copy","dependsOn":[],"policy":{"timeout":"0.01:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","additionalColumns":[{"name":"ADF_PipelineRunId","value":{"value":"@pipeline().RunId","type":"Expression"}},{"name":"ADF_PipelineTriggerTime","value":{"value":"@pipeline().TriggerTime","type":"Expression"}}],"httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"AbsoluteUrl":{"value":"$['@odata.nextLink']","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"arrayOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"DS_REST_Graph","type":"DatasetReference","parameters":{"RelativeURL":"groups?$filter=securityEnabled eq true&$select=id,displayName,description,securityEnabled,groupTypes,createdDateTime,renewedDateTime,deletedDateTime"}}],"outputs":[{"referenceName":"DS_ADLS_Generic_JSON","type":"DatasetReference","parameters":{"FileSystem":"raw","Folder":{"value":"microsoft-graph/groups/@{formatDateTime(pipeline().TriggerTime, 'yyyy')}/@{formatDateTime(pipeline().TriggerTime, 'MM')}","type":"Expression"},"FileName":{"value":"graph_groups_@{formatDateTime(pipeline().TriggerTime, 'yyyyMMdd')}.json","type":"Expression"}}}]},{"name":"Copy subscribedSkus","type":"Copy","dependsOn":[],"policy":{"timeout":"0.01:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","additionalColumns":[{"name":"ADF_PipelineRunId","value":{"value":"@pipeline().RunId","type":"Expression"}},{"name":"ADF_PipelineTriggerTime","value":{"value":"@pipeline().TriggerTime","type":"Expression"}}],"httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"AbsoluteUrl":{"value":"$['@odata.nextLink']","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"arrayOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"DS_REST_Graph","type":"DatasetReference","parameters":{"RelativeURL":"subscribedSkus"}}],"outputs":[{"referenceName":"DS_ADLS_Generic_JSON","type":"DatasetReference","parameters":{"FileSystem":"raw","Folder":{"value":"microsoft-graph/subscribedSkus/@{formatDateTime(pipeline().TriggerTime, 'yyyy')}/@{formatDateTime(pipeline().TriggerTime, 'MM')}","type":"Expression"},"FileName":{"value":"graph_subscribedSkus_@{formatDateTime(pipeline().TriggerTime, 'yyyyMMdd')}.json","type":"Expression"}}}]},{"name":"Lookup Security Groups","type":"Lookup","dependsOn":[{"activity":"Copy Security Groups","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"DS_ADLS_Generic_JSON","type":"DatasetReference","parameters":{"FileSystem":"raw","Folder":{"value":"microsoft-graph/groups/@{formatDateTime(pipeline().TriggerTime, 'yyyy')}/@{formatDateTime(pipeline().TriggerTime, 'MM')}","type":"Expression"},"FileName":{"value":"graph_groups_@{formatDateTime(pipeline().TriggerTime, 'yyyyMMdd')}.json","type":"Expression"}}},"firstRowOnly":false}},{"name":"Filter Security Groups","type":"Filter","dependsOn":[{"activity":"Lookup Security Groups","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup Security Groups').output.value[0].value","type":"Expression"},"condition":{"value":"@startswith(item().displayName, pipeline().parameters.GroupsStartswith)","type":"Expression"}}},{"name":"For Each Filtered Security Group","type":"ForEach","dependsOn":[{"activity":"Filter Security Groups","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Filter Security Groups').output.value","type":"Expression"},"activities":[{"name":"Copy users in Security Groups","type":"Copy","dependsOn":[],"policy":{"timeout":"0.01:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","additionalColumns":[{"name":"ADF_PipelineRunId","value":{"value":"@pipeline().RunId","type":"Expression"}},{"name":"ADF_PipelineTriggerTime","value":{"value":"@pipeline().TriggerTime","type":"Expression"}},{"name":"GroupId","value":{"value":"@item().id","type":"Expression"}},{"name":"GroupDisplayName","value":{"value":"@item().DisplayName","type":"Expression"}}],"httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"AbsoluteUrl":{"value":"$['@odata.nextLink']","type":"Expression"},"supportRFC5988":"true"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"arrayOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"DS_REST_Graph","type":"DatasetReference","parameters":{"RelativeURL":{"value":"groups/@{item().id}/members","type":"Expression"}}}],"outputs":[{"referenceName":"DS_ADLS_Generic_JSON","type":"DatasetReference","parameters":{"FileSystem":"raw","Folder":{"value":"microsoft-graph/groupsmembers/@{formatDateTime(pipeline().TriggerTime, 'yyyy')}/@{formatDateTime(pipeline().TriggerTime, 'MM')}","type":"Expression"},"FileName":{"value":"graph_groupsmembers_@{item().id}_@{formatDateTime(pipeline().TriggerTime, 'yyyyMMdd')}.json","type":"Expression"}}}]}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"GroupsStartswith":{"type":"string","defaultValue":"SEC-PowerBI"}},"folder":{"name":"Power BI monitor"},"annotations":[],"lastPublishTime":"2021-03-11T12:30:46Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_REST_Graph')]","[concat(variables('factoryId'), '/datasets/DS_ADLS_Generic_JSON')]"]},{"name":"[concat(parameters('factoryName'), '/DS_REST_Graph')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_REST_Graph')]","type":"LinkedServiceReference"},"parameters":{"RelativeURL":{"type":"String"}},"folder":{"name":"Generic"},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@dataset().RelativeURL","type":"Expression"}},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_ADLS_Generic_JSON')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_DataLake')]","type":"LinkedServiceReference"},"parameters":{"FileSystem":{"type":"String"},"Folder":{"type":"String"},"FileName":{"type":"String"}},"folder":{"name":"Generic"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"folderPath":{"value":"@dataset().Folder","type":"Expression"},"fileSystem":{"value":"@dataset().FileSystem","type":"Expression"}}},"schema":{}},"dependsOn":[]}]}